{
	"swagger": "2.0",
	"info": {
		"version": "0.0.1",
		"title": "Member Services API"
	},
	"host": "member-service.apps.parivartandev1.com",
	"basePath": "/api/v1",
	"tags": [{
		"name": "Dashboard API",
		"description": "Dashboard API"
	}, {
		"name": "IP Assignment & Surrender",
		"description": "IP Assignment & Surrender API"
	}, {
		"name": "Member & Vendor Requests, Guidelines And User Preference",
		"description": "Member And Vendor Requests API"
	}, {
		"name": "Message Rates & Change Request",
		"description": "Message Rates API"
	}, {
		"name": "PTP Connectivity,Service Providers,Location Types",
		"description": "PTP Connectivity Request, Get Service Providers and Location Types API"
	}, {
		"name": "Rack Inventory, Allotment & Surrender",
		"description": "Rack Inventory, Allotment & Surrender API"
	}, {
		"name": "TM Enrollment & Deactivation",
		"description": "TM Enrollment & DeActivation"
	}],
	"paths": {
		"/dashboard/report/completed": {
			"get": {
				"tags": ["Dashboard API"],
				"summary": "Get Completed Report",
				"operationId": "getCompletedReportsUsingGET",
				"produces": ["application/json"],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Requests Report Response"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				},
				"deprecated": false
			}
		},
		"/dashboard/report/inprocess": {
			"get": {
				"tags": ["Dashboard API"],
				"summary": "Get InProcess Report",
				"operationId": "getInProcessReportsUsingGET",
				"produces": ["application/json"],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Requests Report Response"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				},
				"deprecated": false
			}
		},
		"/dashboard/reports": {
			"post": {
				"tags": ["Dashboard API"],
				"summary": "Get Report By Date",
				"operationId": "getReportsByDateUsingPOST",
				"consumes": ["application/json"],
				"produces": ["application/json"],
				"parameters": [{
					"in": "body",
					"name": "request",
					"description": "request",
					"required": true,
					"schema": {
						"$ref": "#/definitions/Reports Request"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Requests Report Response"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				},
				"deprecated": false
			}
		},
		"/ip/assigned/member/{memberId}/rack/{rackId}": {
			"get": {
				"tags": ["IP Assignment & Surrender"],
				"summary": "Retrieve Assigned IPs for Member",
				"operationId": "getNetworkIPsUsingGET",
				"produces": ["application/json"],
				"parameters": [{
					"name": "memberId",
					"in": "path",
					"description": "memberId",
					"required": true,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "rackId",
					"in": "path",
					"description": "rackId",
					"required": true,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/ColoNetworkMaster"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				},
				"deprecated": false
			}
		},
		"/ip/manager/member/{memberId}/network/{networkId}": {
			"get": {
				"tags": ["IP Assignment & Surrender"],
				"summary": "Retrieve Manager IPs for Member",
				"operationId": "getManagerIPsUsingGET",
				"produces": ["application/json"],
				"parameters": [{
					"name": "memberId",
					"in": "path",
					"description": "memberId",
					"required": true,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "networkId",
					"in": "path",
					"description": "networkId",
					"required": true,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Manager IP"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				},
				"deprecated": false
			}
		},
		"/ip/request": {
			"post": {
				"tags": ["IP Assignment & Surrender"],
				"summary": "Submit Colo IP Request",
				"operationId": "saveIPRequestUsingPOST",
				"consumes": ["application/json"],
				"produces": ["application/json"],
				"parameters": [{
					"in": "body",
					"name": "requestVO",
					"description": "requestVO",
					"required": true,
					"schema": {
						"$ref": "#/definitions/ColoIPRequest"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ColoRequest Response"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				},
				"deprecated": false
			}
		},
		"/ip/requests/member/{memberId}": {
			"get": {
				"tags": ["IP Assignment & Surrender"],
				"summary": "Retrieve IP Activation Requests for Member",
				"operationId": "getIpActivationRequestsUsingGET",
				"produces": ["application/json"],
				"parameters": [{
					"name": "memberId",
					"in": "path",
					"description": "memberId",
					"required": true,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/ColoIPRequestDetails"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				},
				"deprecated": false
			}
		},
		"/message-rates": {
			"post": {
				"tags": ["Message Rates & Change Request"],
				"summary": "Submit Colo Message Rate Change Request",
				"operationId": "saveColoMessageRateChangeRequestUsingPOST",
				"consumes": ["application/json"],
				"produces": ["application/json"],
				"parameters": [{
					"in": "body",
					"name": "changeRequestVO",
					"description": "changeRequestVO",
					"required": true,
					"schema": {
						"$ref": "#/definitions/ColoMessageRateChangeRequest"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ColoRequest Response"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				},
				"deprecated": false
			}
		},
		"/message-rates/subrequest/{subRequestId}": {
			"get": {
				"tags": ["Message Rates & Change Request"],
				"summary": "Retrieve Message Rates",
				"operationId": "getMessageRatesUsingGET",
				"produces": ["application/json"],
				"parameters": [{
					"name": "subRequestId",
					"in": "path",
					"description": "subRequestId",
					"required": true,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Message Rate"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				},
				"deprecated": false
			}
		},
		"/ptp": {
			"post": {
				"tags": ["PTP Connectivity,Service Providers,Location Types"],
				"summary": "Submit Colo PTP Connectivity Request",
				"operationId": "saveColoPTPConnectivityRequestUsingPOST",
				"consumes": ["application/json"],
				"produces": ["application/json"],
				"parameters": [{
					"in": "body",
					"name": "requestVO",
					"description": "requestVO",
					"required": true,
					"schema": {
						"$ref": "#/definitions/ColoPTPConnectivityRequest"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ColoRequest Response"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				},
				"deprecated": false
			}
		},
		"/ptp/details": {
			"get": {
				"tags": ["PTP Connectivity,Service Providers,Location Types"],
				"summary": "Retrieve Service Provider and Location Type Details",
				"operationId": "getProvidersAndLocationTypesUsingGET",
				"produces": ["application/json"],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/PTPServiceProvidersAndLocationTypes"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				},
				"deprecated": false
			}
		},
		"/racks": {
			"get": {
				"tags": ["Rack Inventory, Allotment & Surrender"],
				"summary": "Retrieve Racks",
				"operationId": "getAllRacksUsingGET",
				"produces": ["application/json"],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/ColoRackPhase"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				},
				"deprecated": false
			}
		},
		"/racks/member/request": {
			"post": {
				"tags": ["Rack Inventory, Allotment & Surrender"],
				"summary": "Submit Colo Rack Request for Member",
				"operationId": "saveRackRequestUsingPOST",
				"consumes": ["application/json"],
				"produces": ["application/json"],
				"parameters": [{
					"in": "body",
					"name": "requestVO",
					"description": "requestVO",
					"required": true,
					"schema": {
						"$ref": "#/definitions/ColoMemberRackRequest"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ColoRequest Response"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				},
				"deprecated": false
			}
		},
		"/racks/member/{memberId}": {
			"get": {
				"tags": ["Rack Inventory, Allotment & Surrender"],
				"summary": "Retrieve Allocated Racks By Member",
				"operationId": "getAllocatedRacksByMemberUsingGET",
				"produces": ["application/json"],
				"parameters": [{
					"name": "memberId",
					"in": "path",
					"description": "memberId",
					"required": true,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/ColoRackDetails"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				},
				"deprecated": false
			}
		},
		"/racks/reasons": {
			"get": {
				"tags": ["Rack Inventory, Allotment & Surrender"],
				"summary": "Colo Surrender Reasons",
				"operationId": "getColoSurrenderReasonsUsingGET",
				"produces": ["application/json"],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/ColoSurrenderReason"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				},
				"deprecated": false
			}
		},
		"/racks/vendor/request": {
			"post": {
				"tags": ["Rack Inventory, Allotment & Surrender"],
				"summary": "Submit Colo Rack Request for Vendor",
				"operationId": "saveRackRequestUsingPOST_1",
				"consumes": ["application/json"],
				"produces": ["application/json"],
				"parameters": [{
					"in": "body",
					"name": "requestVO",
					"description": "requestVO",
					"required": true,
					"schema": {
						"$ref": "#/definitions/ColoVendorRackRequest"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ColoRequest Response"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				},
				"deprecated": false
			}
		},
		"/racks/vendor/{vendorId}": {
			"get": {
				"tags": ["Rack Inventory, Allotment & Surrender"],
				"summary": "Retrieve Allocated Racks By Vendor",
				"operationId": "getAllocatedRacksByVendorUsingGET",
				"produces": ["application/json"],
				"parameters": [{
					"name": "vendorId",
					"in": "path",
					"description": "vendorId",
					"required": true,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/ColoRackDetails"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				},
				"deprecated": false
			}
		},
		"/racks/{rackId}": {
			"get": {
				"tags": ["Rack Inventory, Allotment & Surrender"],
				"summary": "Retrieve Rack Details",
				"operationId": "getRackDetailsUsingGET",
				"produces": ["application/json"],
				"parameters": [{
					"name": "rackId",
					"in": "path",
					"description": "rackId",
					"required": true,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ColoRackDetails"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				},
				"deprecated": false
			}
		},
		"/requests": {
			"get": {
				"tags": ["Member & Vendor Requests, Guidelines And User Preference"],
				"summary": "Retrieve All Requests",
				"operationId": "getAllRequestsUsingGET",
				"produces": ["application/json"],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Main Request"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				},
				"deprecated": false
			}
		},
		"/requests/preference": {
			"post": {
				"tags": ["Member & Vendor Requests, Guidelines And User Preference"],
				"summary": "Create User Preference",
				"operationId": "saveUserPreferenceUsingPOST",
				"consumes": ["application/json"],
				"produces": ["application/json"],
				"parameters": [{
					"in": "body",
					"name": "requestVO",
					"description": "requestVO",
					"required": true,
					"schema": {
						"$ref": "#/definitions/UserPreference Request"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/UserPreference Response"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				},
				"deprecated": false
			}
		},
		"/requests/subrequest/{subRequestId}/user/{userId}": {
			"get": {
				"tags": ["Member & Vendor Requests, Guidelines And User Preference"],
				"summary": "Retrieve User Preference for User",
				"operationId": "getUserPreferenceBySubRequestIdAndUserIdUsingGET",
				"produces": ["application/json"],
				"parameters": [{
					"name": "subRequestId",
					"in": "path",
					"description": "subRequestId",
					"required": true,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "userId",
					"in": "path",
					"description": "userId",
					"required": true,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/UserPreference Response"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				},
				"deprecated": false
			}
		},
		"/tm": {
			"post": {
				"tags": ["TM Enrollment & Deactivation"],
				"summary": "Submit TM Request",
				"operationId": "saveTMDeactivationRequestUsingPOST",
				"consumes": ["application/json"],
				"produces": ["application/json"],
				"parameters": [{
					"in": "body",
					"name": "coloVendorTMRequest",
					"description": "coloVendorTMRequest",
					"required": true,
					"schema": {
						"$ref": "#/definitions/ColoVendorTMRequestVO"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ColoRequest Response"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				},
				"deprecated": false
			}
		},
		"/tm/vendor/{vendorId}": {
			"get": {
				"tags": ["TM Enrollment & Deactivation"],
				"summary": "Get Approved TM Requests By Vendor",
				"operationId": "getApprovedTMsUsingGET",
				"produces": ["application/json"],
				"parameters": [{
					"name": "vendorId",
					"in": "path",
					"description": "vendorId",
					"required": true,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/ColoTMMasterRequestVO"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				},
				"deprecated": false
			}
		}
	},
	"definitions": {
		"ColoIPRequest": {
			"type": "object",
			"properties": {
				"capitalMarketMsgRate": {
					"type": "number",
					"format": "double",
					"example": 10.0,
					"description": "Capital Market MessageRate"
				},
				"capitalMarketUserRate": {
					"type": "number",
					"format": "double",
					"example": 10.0,
					"description": "Capital Market UserRate"
				},
				"contactDesignation": {
					"type": "string",
					"example": "Trader",
					"description": "Contact Designation"
				},
				"contactMail": {
					"type": "string",
					"example": "test@mail.com",
					"description": "Contact Mail"
				},
				"contactMobileNumber": {
					"type": "string",
					"example": 9988776767,
					"description": "Contact Mobile Number"
				},
				"contactName": {
					"type": "string",
					"example": "TestUser",
					"description": "Contact Name"
				},
				"createdBy": {
					"type": "string",
					"example": "username",
					"description": "Created By"
				},
				"declareId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Declare ID"
				},
				"declared": {
					"type": "string",
					"example": "Y",
					"description": "Declaration"
				},
				"derivativeMsgRate": {
					"type": "number",
					"format": "double",
					"example": 10.0,
					"description": "Derivative MessageRate"
				},
				"derivativeUserRate": {
					"type": "number",
					"format": "double",
					"example": 10.0,
					"description": "Derivative UserRate"
				},
				"futureOptionMsgRate": {
					"type": "number",
					"format": "double",
					"example": 10.0,
					"description": "Future Option MessageRate"
				},
				"futureOptionUserRate": {
					"type": "number",
					"format": "double",
					"example": 10.0,
					"description": "Future Option UserRate"
				},
				"managerIP": {
					"type": "string",
					"example": "127.0.0.1",
					"description": "Manager IP"
				},
				"memberId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Member ID"
				},
				"memberNumber": {
					"type": "string",
					"example": 1,
					"description": "Member Number"
				},
				"messageRateId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Message Rate ID"
				},
				"otherReason": {
					"type": "string",
					"example": "reason",
					"description": "Other Reason"
				},
				"rackId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Rack ID"
				},
				"reasonId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Reason ID"
				},
				"subRequestId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "SubRequest ID"
				},
				"tapIP": {
					"type": "string",
					"example": "127.0.0.1",
					"description": "Tap IP"
				},
				"totalAmount": {
					"type": "number",
					"format": "double",
					"example": 10000.0,
					"description": "Total Amount"
				},
				"vendorId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Vendor ID"
				},
				"vendorName": {
					"type": "string",
					"example": "WIPRO",
					"description": "Vendor Name"
				}
			},
			"title": "ColoIPRequest"
		},
		"ColoIPRequestDetails": {
			"type": "object",
			"properties": {
				"borderFlag": {
					"type": "string",
					"example": "Y or N",
					"description": "Border Flag"
				},
				"capitalMarketMsgRate": {
					"type": "number",
					"format": "double",
					"example": 10.0,
					"description": "Capital Market MessageRate"
				},
				"capitalMarketUserRate": {
					"type": "number",
					"format": "double",
					"example": 10.0,
					"description": "Capital Market UserRate"
				},
				"derivativeMsgRate": {
					"type": "number",
					"format": "double",
					"example": 10.0,
					"description": "Derivative MessageRate"
				},
				"derivativeUserRate": {
					"type": "number",
					"format": "double",
					"example": 10.0,
					"description": "Derivative UserRate"
				},
				"floor": {
					"type": "string",
					"example": "FLOOR 1",
					"description": "Floor"
				},
				"futureOptionMsgRate": {
					"type": "number",
					"format": "double",
					"example": 10.0,
					"description": "Future Option MessageRate"
				},
				"futureOptionUserRate": {
					"type": "number",
					"format": "double",
					"example": 10.0,
					"description": "Future Option UserRate"
				},
				"ipRackType": {
					"type": "string",
					"example": "S or C",
					"description": "IP Rack Type"
				},
				"managerIp": {
					"type": "string",
					"example": 1,
					"description": "Manager IP"
				},
				"messageRateId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Message Rate ID"
				},
				"phase": {
					"type": "string",
					"example": "PHASE 1",
					"description": "Phase"
				},
				"rackId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Rack ID"
				},
				"rackName": {
					"type": "string",
					"example": "A1",
					"description": "Rack Name"
				},
				"rackPosition": {
					"type": "string",
					"example": "T or B",
					"description": "Rack Position"
				},
				"rackStatus": {
					"type": "string",
					"example": "Free or Use or System",
					"description": "Rack Status"
				},
				"rackType": {
					"type": "string",
					"example": "F or H",
					"description": "Rack Type"
				},
				"tapIp": {
					"type": "string",
					"example": "127.0.0.1",
					"description": "Tap IP"
				},
				"vendorId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Vendor ID"
				},
				"vendorName": {
					"type": "string",
					"example": "WIPRO",
					"description": "Vendor Name"
				},
				"wing": {
					"type": "string",
					"example": "WING A1",
					"description": "WING"
				}
			},
			"title": "ColoIPRequestDetails"
		},
		"ColoMemberRackRequest": {
			"type": "object",
			"properties": {
				"addrBuilding": {
					"type": "string",
					"example": "Address Line 2",
					"description": "Address Building Name/Number"
				},
				"addrCity": {
					"type": "string",
					"example": "City",
					"description": "Address City"
				},
				"addrDistrict": {
					"type": "string",
					"example": "District",
					"description": "Address District"
				},
				"addrFlatNumber": {
					"type": "string",
					"example": "A-20",
					"description": "Address Flat Number"
				},
				"addrFloor": {
					"type": "string",
					"example": "Address Line1",
					"description": "Address Floor"
				},
				"addrLandMark": {
					"type": "string",
					"example": "Address Line 4",
					"description": "Address LandMark"
				},
				"addrLocality": {
					"type": "string",
					"example": "Address Line 5",
					"description": "Address Locality"
				},
				"addrPinCode": {
					"type": "string",
					"example": 122999,
					"description": "Address Pin Code"
				},
				"addrState": {
					"type": "string",
					"example": "State",
					"description": "Address State"
				},
				"addrStreet": {
					"type": "string",
					"example": "Address Line 3",
					"description": "Address Street"
				},
				"backupFlag": {
					"type": "string",
					"example": "Y",
					"description": "Back Up Flag"
				},
				"contactDesignation": {
					"type": "string",
					"example": "Trader",
					"description": "Contact Designation"
				},
				"contactMail": {
					"type": "string",
					"example": "test@mail.com",
					"description": "Contact Mail"
				},
				"contactMobileNumber": {
					"type": "string",
					"example": 9988776767,
					"description": "Contact Mobile Number"
				},
				"contactName": {
					"type": "string",
					"example": "TestUser",
					"description": "Contact Name"
				},
				"createdBy": {
					"type": "string",
					"example": "Username",
					"description": "Created By"
				},
				"declareID": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Declared ID"
				},
				"declared": {
					"type": "string",
					"example": "Y",
					"description": "Declaration"
				},
				"defaultIP1": {
					"type": "string",
					"example": "10.10.0.10",
					"description": "Default IP1"
				},
				"defaultIP2": {
					"type": "string",
					"example": "10.0.0.1",
					"description": "Default IP2"
				},
				"memberId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Member ID"
				},
				"memberNo": {
					"type": "string",
					"example": 1,
					"description": "Member No"
				},
				"msgRate1": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Message Rate1"
				},
				"msgRate2": {
					"type": "integer",
					"format": "int64",
					"example": 13,
					"description": "Message Rate2"
				},
				"msgRateCD1": {
					"type": "number",
					"format": "double",
					"example": 1.0,
					"description": "Message Rate CD1"
				},
				"msgRateCD2": {
					"type": "number",
					"format": "double",
					"example": 1.0,
					"description": "Message Rate CD2"
				},
				"msgRateCM1": {
					"type": "number",
					"format": "double",
					"example": 1.0,
					"description": "Message Rate CM1"
				},
				"msgRateCM2": {
					"type": "number",
					"format": "double",
					"example": 3.0,
					"description": "Message Rate CM2"
				},
				"msgRateFO1": {
					"type": "number",
					"format": "double",
					"example": 1.0,
					"description": "Message Rate FO1"
				},
				"msgRateFO2": {
					"type": "number",
					"format": "double",
					"example": 1.0,
					"description": "Message Rate FO2"
				},
				"nnfApproval": {
					"type": "string",
					"example": "Y",
					"description": "NNF Approval"
				},
				"otherReason": {
					"type": "string",
					"example": "reason",
					"description": "Other Reason"
				},
				"rackId": {
					"type": "integer",
					"format": "int64",
					"example": 10,
					"description": "Rack Id"
				},
				"reasonId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Reason Id"
				},
				"subRequestId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "SubRequest ID"
				},
				"totalAmount": {
					"type": "number",
					"format": "double",
					"example": 10000.0,
					"description": "Total Amount"
				},
				"userRateCD1": {
					"type": "number",
					"format": "double",
					"example": 1.0,
					"description": "User Rate CD1"
				},
				"userRateCD2": {
					"type": "number",
					"format": "double",
					"example": 13.0,
					"description": "User Rate CD2"
				},
				"userRateCM1": {
					"type": "number",
					"format": "double",
					"example": 3.0,
					"description": "User Rate CM1"
				},
				"userRateCM2": {
					"type": "number",
					"format": "double",
					"example": 13.0,
					"description": "User Rate CM2"
				},
				"userRateFO1": {
					"type": "number",
					"format": "double",
					"example": 1.0,
					"description": "User Rate FO1"
				},
				"userRateFO2": {
					"type": "number",
					"format": "double",
					"example": 13.0,
					"description": "User Rate FO2"
				}
			},
			"title": "ColoMemberRackRequest"
		},
		"ColoMessageRateChangeRequest": {
			"type": "object",
			"properties": {
				"actualUserCntCM": {
					"type": "number",
					"format": "double",
					"example": 1.0,
					"description": "Actual User CNT FO"
				},
				"actualUserCntFO": {
					"type": "number",
					"format": "double",
					"example": 1.0,
					"description": "Actual user CNT FO"
				},
				"contactDesignation": {
					"type": "string",
					"example": "Trader",
					"description": "Contact Designation"
				},
				"contactMail": {
					"type": "string",
					"example": "abc@gmail.com",
					"description": "Contact Mail"
				},
				"contactMobileNumber": {
					"type": "string",
					"example": 9999234585,
					"description": "Contact Mobile Number"
				},
				"contactName": {
					"type": "string",
					"example": "ContactName",
					"description": "Contact Name"
				},
				"createdBy": {
					"type": "string",
					"example": "Username",
					"description": "Created By"
				},
				"currMessageRateId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Current Message Rate"
				},
				"currMsgRateCD": {
					"type": "number",
					"format": "double",
					"example": 1.0,
					"description": "Current Message Rate CD"
				},
				"currMsgRateCM": {
					"type": "number",
					"format": "double",
					"example": 1.0,
					"description": "Current Message Rate CM"
				},
				"currMsgRateFO": {
					"type": "number",
					"format": "double",
					"example": 1.0,
					"description": "Current Message Rate FO"
				},
				"currUserRateCD": {
					"type": "number",
					"format": "double",
					"example": 1.0,
					"description": "Current user Rate CD"
				},
				"currUserRateCM": {
					"type": "number",
					"format": "double",
					"example": 1.0,
					"description": "Current User Rate CM"
				},
				"currUserRateFO": {
					"type": "number",
					"format": "double",
					"example": 1.0,
					"description": "Current User Rate FO"
				},
				"declareId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Declared ID"
				},
				"declared": {
					"type": "string",
					"example": "Y",
					"description": "Declared"
				},
				"ipRackType": {
					"type": "string",
					"example": "S",
					"description": "IP Rack Type"
				},
				"memberId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Member ID"
				},
				"memberNumber": {
					"type": "string",
					"example": 1,
					"description": "Member Number"
				},
				"modifiedBy": {
					"type": "string",
					"example": "Username",
					"description": "Modified By"
				},
				"newMessageRateId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "New Message Rate"
				},
				"propMsgRateCD": {
					"type": "number",
					"format": "double",
					"example": 1.0,
					"description": "Prop Message Rate CD"
				},
				"propMsgRateCM": {
					"type": "number",
					"format": "double",
					"example": 1.0,
					"description": "Prop Message Rate CM"
				},
				"propMsgRateFO": {
					"type": "number",
					"format": "double",
					"example": 1.0,
					"description": "Prop Message Rate FO"
				},
				"propUserRateCD": {
					"type": "number",
					"format": "double",
					"example": 1.0,
					"description": "Prop User Rate CD"
				},
				"propUserRateCM": {
					"type": "number",
					"format": "double",
					"example": 1.0,
					"description": "Prop User Rate CM"
				},
				"propUserRateFO": {
					"type": "number",
					"format": "double",
					"example": 1.0,
					"description": "Prop User Rate FO"
				},
				"rackId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Rack ID"
				},
				"subRequestId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Sub-request ID"
				},
				"tapIP": {
					"type": "string",
					"example": "127.0.0.1",
					"description": "Tap IP"
				},
				"totalAmount": {
					"type": "number",
					"format": "double",
					"example": 100.0,
					"description": "Total Amount"
				},
				"vendorID": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Vendor ID"
				},
				"vendorName": {
					"type": "string",
					"example": "Sumeet",
					"description": "Vendor Name"
				}
			},
			"title": "ColoMessageRateChangeRequest"
		},
		"ColoNetworkMaster": {
			"type": "object",
			"properties": {
				"netSpeed": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Net Speed"
				},
				"networkId": {
					"type": "integer",
					"format": "int64"
				},
				"rackId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Rack ID"
				},
				"servProv": {
					"type": "string",
					"example": 1,
					"description": "Ser Prov"
				},
				"speedType": {
					"type": "string",
					"example": 1,
					"description": "Speed Type"
				},
				"statusCode": {
					"type": "string",
					"example": 1,
					"description": "Status Code"
				},
				"tapIp": {
					"type": "string",
					"example": "127.0.0.1",
					"description": "Tap IP"
				}
			},
			"title": "ColoNetworkMaster"
		},
		"ColoPTPConnectivityRequest": {
			"type": "object",
			"properties": {
				"addrBuilding": {
					"type": "string",
					"example": "Address Building",
					"description": "Address Building Name/Number"
				},
				"addrCity": {
					"type": "string",
					"example": "City",
					"description": "Address City"
				},
				"addrDistrict": {
					"type": "string",
					"example": "District",
					"description": "Address District"
				},
				"addrFlatNumber": {
					"type": "string",
					"example": "A-20",
					"description": "Address Flat Number"
				},
				"addrFloor": {
					"type": "string",
					"example": "Address Floor",
					"description": "Address Floor"
				},
				"addrLandMark": {
					"type": "string",
					"example": "Address Landmark",
					"description": "Address LandMark"
				},
				"addrLocality": {
					"type": "string",
					"example": "Address locality",
					"description": "Address Locality"
				},
				"addrPinCode": {
					"type": "string",
					"example": 122999,
					"description": "Address Pin Code"
				},
				"addrState": {
					"type": "string",
					"example": "State",
					"description": "Address State"
				},
				"addrStreet": {
					"type": "string",
					"example": "Address Street",
					"description": "Address Street"
				},
				"bandwidth": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Bandwidth"
				},
				"bandwidthUnit": {
					"type": "string",
					"example": "Mbps",
					"description": "Bandwidth Unit"
				},
				"commSwitchingLandingPt": {
					"type": "string",
					"example": "Y",
					"description": "Comm Switching Landing Pt"
				},
				"contactDesignation": {
					"type": "string",
					"example": "Trader",
					"description": "Contact Designation"
				},
				"contactMail": {
					"type": "string",
					"example": "test@mail.com",
					"description": "Contact Mail"
				},
				"contactMobileNumber": {
					"type": "string",
					"example": 9988776767,
					"description": "Contact Mobile Number"
				},
				"contactName": {
					"type": "string",
					"example": "TestUser",
					"description": "Contact Name"
				},
				"createdBy": {
					"type": "string",
					"example": "username",
					"description": "Created By"
				},
				"declareId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Declared ID"
				},
				"declared": {
					"type": "string",
					"example": "Y",
					"description": "Declaration"
				},
				"entityName": {
					"type": "string",
					"example": "entity name",
					"description": "Entity Name"
				},
				"locationId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Location ID"
				},
				"memberId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Member ID"
				},
				"memberNumber": {
					"type": "string",
					"example": 1,
					"description": "Member Number"
				},
				"officeName": {
					"type": "string",
					"example": "office name",
					"description": "Office Name"
				},
				"otherStockExchange": {
					"type": "string",
					"example": "stock exchange",
					"description": "Other Stock Exchange"
				},
				"rackId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Rack ID"
				},
				"rackNumber": {
					"type": "string",
					"example": "rack number",
					"description": "Rack Number"
				},
				"recognisedStockExchange": {
					"type": "string",
					"example": "recognised stock exchange",
					"description": "Recognised Stock Exchange"
				},
				"serviceProviderId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Service Provider ID"
				},
				"subRequestId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "SubRequest ID"
				},
				"thirdPartyCenter": {
					"type": "string",
					"example": "centername",
					"description": "Third Party Center"
				}
			},
			"title": "ColoPTPConnectivityRequest"
		},
		"ColoRack": {
			"type": "object",
			"properties": {
				"borderFlag": {
					"type": "string",
					"example": "Y or N",
					"description": "Border Flag"
				},
				"borderRackId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "BorderRack ID"
				},
				"columnNumber": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Column No"
				},
				"rackId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "RACK ID"
				},
				"rackName": {
					"type": "string",
					"example": "A1",
					"description": "Rack Name"
				},
				"rackPosition": {
					"type": "string",
					"example": "T or B",
					"description": "Rack Position"
				},
				"rackStatus": {
					"type": "string",
					"example": "Free or Use or System",
					"description": "Rack Status"
				},
				"rackType": {
					"type": "string",
					"example": "F or H",
					"description": "Rack Type"
				},
				"referenceNumber": {
					"type": "string",
					"example": "REFF_1",
					"description": "Reference No"
				},
				"regionCode": {
					"type": "string",
					"example": 1,
					"description": "Region Code"
				},
				"rowNumber": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Row No"
				}
			},
			"title": "ColoRack"
		},
		"ColoRackDetails": {
			"type": "object",
			"properties": {
				"defaultIPs": {
					"type": "array",
					"description": "DefaultIP's",
					"items": {
						"type": "string"
					}
				},
				"rack": {
					"description": "Rack",
					"$ref": "#/definitions/ColoRack"
				},
				"rackAmount": {
					"type": "array",
					"description": "Rack Allotment Amount",
					"items": {
						"$ref": "#/definitions/Rack Amount"
					}
				}
			},
			"title": "ColoRackDetails"
		},
		"ColoRackPhase": {
			"type": "object",
			"properties": {
				"floor": {
					"type": "string",
					"example": "FLOOR 1",
					"description": "FLOOR"
				},
				"phase": {
					"type": "string",
					"example": "PHASE 1",
					"description": "PHASE"
				},
				"racks": {
					"type": "array",
					"description": "Racks",
					"items": {
						"$ref": "#/definitions/ColoRack"
					}
				},
				"wing": {
					"type": "string",
					"example": "WING A",
					"description": "WING"
				}
			},
			"title": "ColoRackPhase"
		},
		"ColoRequest Response": {
			"type": "object",
			"properties": {
				"requestNo": {
					"type": "string",
					"example": "COLOREQUEST-1",
					"description": "Request No"
				},
				"requestStatus": {
					"type": "string",
					"example": "Submitted",
					"description": "Request Status"
				}
			},
			"title": "ColoRequest Response"
		},
		"ColoSurrenderReason": {
			"type": "object",
			"properties": {
				"reasonId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Reason Id"
				},
				"reasonName": {
					"type": "string",
					"example": "Reason 1",
					"description": "Reason Name"
				},
				"subRequestId": {
					"type": "integer",
					"format": "int64",
					"example": 5,
					"description": "Sub Request Id"
				}
			},
			"title": "ColoSurrenderReason"
		},
		"ColoTMMasterRequestVO": {
			"type": "object",
			"properties": {
				"createdBy": {
					"type": "string",
					"example": "username",
					"description": "Created By"
				},
				"memberId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Member ID"
				},
				"memberName": {
					"type": "string",
					"example": "MemberName",
					"description": "Member Name"
				},
				"memberNumber": {
					"type": "string",
					"example": "T0001",
					"description": "Member Number"
				},
				"tmCode": {
					"type": "string",
					"example": "TC001",
					"description": "TM Code"
				},
				"tmName": {
					"type": "string",
					"example": "Sumeet",
					"description": "TM Name"
				},
				"tmStatus": {
					"type": "string",
					"example": "Approved",
					"description": "TM Status"
				},
				"vendorCode": {
					"type": "string",
					"example": "T001",
					"description": "Vendor Code"
				},
				"vendorId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Vendor ID"
				},
				"vendorName": {
					"type": "string",
					"example": "WIPRO",
					"description": "Vendor Name"
				}
			},
			"title": "ColoTMMasterRequestVO"
		},
		"ColoVendorRackRequest": {
			"type": "object",
			"properties": {
				"addrBuilding": {
					"type": "string",
					"example": "Address Line 2",
					"description": "Address Building Name/Number"
				},
				"addrCity": {
					"type": "string",
					"example": "City",
					"description": "Address City"
				},
				"addrDistrict": {
					"type": "string",
					"example": "District",
					"description": "Address District"
				},
				"addrFlatNumber": {
					"type": "string",
					"example": "A-20",
					"description": "Address Flat Number"
				},
				"addrFloor": {
					"type": "string",
					"example": "Address Line1",
					"description": "Address Floor"
				},
				"addrLandMark": {
					"type": "string",
					"example": "Address Line 4",
					"description": "Address LandMark"
				},
				"addrLocality": {
					"type": "string",
					"example": "Address Line 5",
					"description": "Address Locality"
				},
				"addrPinCode": {
					"type": "string",
					"example": 122999,
					"description": "Address Pin Code"
				},
				"addrState": {
					"type": "string",
					"example": "State",
					"description": "Address State"
				},
				"addrStreet": {
					"type": "string",
					"example": "Address Line 3",
					"description": "Address Street"
				},
				"backupFlag": {
					"type": "string",
					"example": "Y",
					"description": "Back Up Flag"
				},
				"contactDesignation": {
					"type": "string",
					"example": "Trader",
					"description": "Contact Designation"
				},
				"contactMail": {
					"type": "string",
					"example": "test@mail.com",
					"description": "Contact Mail"
				},
				"contactMobileNumber": {
					"type": "string",
					"example": 9988776767,
					"description": "Contact Mobile Number"
				},
				"contactName": {
					"type": "string",
					"example": "TestUser",
					"description": "Contact Name"
				},
				"createdBy": {
					"type": "string",
					"example": "username",
					"description": "Created By"
				},
				"declareId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Declare ID"
				},
				"declared": {
					"type": "string",
					"example": "Y",
					"description": "Declaration"
				},
				"nnfApproval": {
					"type": "string",
					"example": "Y",
					"description": "NNF Approval"
				},
				"otherReason": {
					"type": "string",
					"example": "reason",
					"description": "Other Reason"
				},
				"rackId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Rack ID"
				},
				"reasonId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Reason ID"
				},
				"subRequestId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "SubRequest ID"
				},
				"totalAmount": {
					"type": "number",
					"format": "double",
					"example": 10000.0,
					"description": "Total Amount"
				},
				"utrNumber": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "UTR Number"
				},
				"vendorCode": {
					"type": "string",
					"example": "135fw2",
					"description": "Vendor Code"
				},
				"vendorId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Vendor ID"
				}
			},
			"title": "ColoVendorRackRequest"
		},
		"ColoVendorTMRequestVO": {
			"type": "object",
			"properties": {
				"contactDesignation": {
					"type": "string",
					"example": "Trader",
					"description": "Contact Designation"
				},
				"contactMail": {
					"type": "string",
					"example": "test@mail.com",
					"description": "Contact Mail"
				},
				"contactMobileNumber": {
					"type": "string",
					"example": 9988776767,
					"description": "Contact Mobile Number"
				},
				"contactName": {
					"type": "string",
					"example": "TestUser",
					"description": "Contact Name"
				},
				"createdBy": {
					"type": "string",
					"example": "username",
					"description": "Created By"
				},
				"memberId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Member ID"
				},
				"memberNumber": {
					"type": "string",
					"example": "T0001",
					"description": "Member Number"
				},
				"rackId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Rack ID"
				},
				"subRequestId": {
					"type": "integer",
					"format": "int64",
					"example": 5,
					"description": "Sub Request Id"
				},
				"tmCode": {
					"type": "string",
					"example": "TC001",
					"description": "TM Code"
				},
				"utrNumber": {
					"type": "string",
					"example": "N001",
					"description": "UTR Number"
				},
				"vendorCode": {
					"type": "string",
					"example": "V01",
					"description": "Vendor Code"
				},
				"vendorId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Vendor ID"
				},
				"vendorName": {
					"type": "string",
					"example": "WIPRO",
					"description": "Vendor Name"
				}
			},
			"title": "ColoVendorTMRequestVO"
		},
		"Declaration": {
			"type": "object",
			"properties": {
				"declaration": {
					"type": "string",
					"example": "Declaration Details",
					"description": "Declaration"
				},
				"declarationId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Declaration ID"
				},
				"nnfApproval": {
					"type": "string",
					"example": "Y",
					"description": "NNF Approval"
				}
			},
			"title": "Declaration"
		},
		"Main Request": {
			"type": "object",
			"properties": {
				"mainRequestId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Main Request ID"
				},
				"requestTypeName": {
					"type": "string",
					"example": "Colocation",
					"description": "Main Request Type"
				},
				"subRequests": {
					"type": "array",
					"description": "List of Sub Request Types",
					"items": {
						"$ref": "#/definitions/Sub Request"
					}
				}
			},
			"title": "Main Request"
		},
		"Manager IP": {
			"type": "object",
			"properties": {
				"managerIPId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Manager IP ID"
				},
				"tapIP": {
					"type": "string",
					"example": "127.0.0.1",
					"description": "TAP IP"
				}
			},
			"title": "Manager IP"
		},
		"Message Rate": {
			"type": "object",
			"properties": {
				"messageRate": {
					"type": "integer",
					"format": "int32",
					"example": 100,
					"description": "Message Rate"
				},
				"messageRateAmount": {
					"example": 100,
					"description": "Message Rate Amount",
					"$ref": "#/definitions/MessageRateAmount"
				},
				"messageRateId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Message Rate ID"
				}
			},
			"title": "Message Rate"
		},
		"MessageRateAmount": {
			"type": "object",
			"properties": {
				"annualRecurringCharges": {
					"type": "number",
					"format": "double",
					"example": 100.0,
					"description": "Annual Recurring Charges"
				},
				"serviceTax": {
					"type": "number",
					"format": "double",
					"example": 100.0,
					"description": "Service Tax"
				},
				"totalAmount": {
					"type": "number",
					"format": "double",
					"example": 100.0,
					"description": "Total Amount"
				}
			},
			"title": "MessageRateAmount"
		},
		"PTPLocationType": {
			"type": "object",
			"properties": {
				"locationId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Location Id"
				},
				"locationType": {
					"type": "string",
					"example": "Location 1",
					"description": "Location Type"
				}
			},
			"title": "PTPLocationType"
		},
		"PTPServiceProviderType": {
			"type": "object",
			"properties": {
				"serviceProvider": {
					"type": "string",
					"example": "Location 1",
					"description": "Service Provider Name"
				},
				"serviceProviderId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Service Provider Id"
				}
			},
			"title": "PTPServiceProviderType"
		},
		"PTPServiceProvidersAndLocationTypes": {
			"type": "object",
			"properties": {
				"locationTypes": {
					"type": "array",
					"description": "Location Types",
					"items": {
						"$ref": "#/definitions/PTPLocationType"
					}
				},
				"serviceProviders": {
					"type": "array",
					"description": "Service Providers",
					"items": {
						"$ref": "#/definitions/PTPServiceProviderType"
					}
				}
			},
			"title": "PTPServiceProvidersAndLocationTypes"
		},
		"Rack Amount": {
			"type": "object",
			"properties": {
				"backupFlag": {
					"type": "string",
					"example": "Y or N",
					"description": "Back Up Flag"
				},
				"rackAmountId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Rack Amount ID"
				},
				"totalAmount": {
					"type": "number",
					"format": "double",
					"example": 1000.0,
					"description": "Total Amount"
				}
			},
			"title": "Rack Amount"
		},
		"Reports Request": {
			"type": "object",
			"properties": {
				"endDate": {
					"type": "string",
					"example": "30-AUG-20",
					"description": "End Date"
				},
				"processingType": {
					"type": "array",
					"example": ["ontime", "delayed", "neardelayed"],
					"description": "Processing Type",
					"items": {
						"type": "string"
					}
				},
				"requestType": {
					"type": "string",
					"example": "colocation",
					"description": "Request Type"
				},
				"startDate": {
					"type": "string",
					"example": "1-JUL-20",
					"description": "Start Date"
				}
			},
			"title": "Reports Request"
		},
		"Requests Report Response": {
			"type": "object",
			"properties": {
				"delay": {
					"type": "array",
					"example": [4, 5],
					"description": "Delay",
					"items": {
						"type": "integer",
						"format": "int32"
					}
				},
				"months": {
					"type": "array",
					"example": ["january", "february"],
					"description": "Months",
					"items": {
						"type": "string"
					}
				},
				"nearDelay": {
					"type": "array",
					"example": [2, 3],
					"description": "NearDelay",
					"items": {
						"type": "integer",
						"format": "int32"
					}
				},
				"onTime": {
					"type": "array",
					"example": [1, 2],
					"description": "OnTime",
					"items": {
						"type": "integer",
						"format": "int32"
					}
				}
			},
			"title": "Requests Report Response"
		},
		"Sub Request": {
			"type": "object",
			"properties": {
				"declarations": {
					"type": "array",
					"description": "Declaration",
					"items": {
						"$ref": "#/definitions/Declaration"
					}
				},
				"guideLines": {
					"type": "array",
					"description": "List of Guidelines",
					"items": {
						"type": "string"
					}
				},
				"requestTypeName": {
					"type": "string",
					"example": "IP Allotment",
					"description": "Sub Request Type"
				},
				"subRequestId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "Sub Request ID"
				},
				"userRole": {
					"type": "string",
					"example": "MEMBER",
					"description": "User Role"
				}
			},
			"title": "Sub Request"
		},
		"UserPreference Request": {
			"type": "object",
			"properties": {
				"createdBy": {
					"type": "string",
					"example": "TestUser",
					"description": "Created By"
				},
				"preference": {
					"type": "string",
					"example": "Y",
					"description": "Preference"
				},
				"subRequestId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "SubRequest ID"
				},
				"userId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "User ID"
				},
				"userType": {
					"type": "string",
					"example": "MEMBER",
					"description": "User Type"
				}
			},
			"title": "UserPreference Request"
		},
		"UserPreference Response": {
			"type": "object",
			"properties": {
				"preference": {
					"type": "string",
					"example": "Y or N",
					"description": "Preference"
				},
				"userPreferenceId": {
					"type": "integer",
					"format": "int64",
					"example": 1,
					"description": "User Preference ID"
				}
			},
			"title": "UserPreference Response"
		}
	}
}